<!doctype html>   
<html>   
   
<head>   
       
    <meta charset="UTF-8">
       
        <title></title>   
       
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
       
       
    <script src="../js/mui.min.js"></script>
       
       
    <style type="text/css">
        #bcid {
            width: 100%;
            height: 100%;
            position: absolute;
            background: #000000;
        }
    </style>
       
       
</head>
   
 
<body>   
   
<div id="bcid">      
       
</div>
   
   
<script type="text/javascript">

    var height = window.innerHeight + 'px';//获取页面实际高度   
    var width = window.innerWidth + 'px';
    document.getElementById("bcid").style.height = height;
    document.getElementById("bcid").style.width = width;
    // 扩展API加载完毕后调用onPlusReady回调函数 
    document.addEventListener("plusready", onPlusReady, false);

    // 扩展API加载完毕，现在可以正常调用扩展API
    function onPlusReady() {
        startRecognize()
    }

    var scan = null;

    function onmarked(type, result) {
        var text = '未知: ';
        switch (type) {
            case plus.barcode.QR:
                text = 'QR: ';
                break;
            case plus.barcode.EAN13:
                text = 'EAN13: ';
                break;
            case plus.barcode.EAN8:
                text = 'EAN8: ';
                break;
        }
//alert( text+result );
//扫码成功跳转确认登录页面 
        mui.openWindow({
            url: "querendenglu.html"
        })
    }

    function startRecognize() {
        scan = new plus.barcode.Barcode('bcid');
        scan.onmarked = onmarked;
    }
</script>
   
   
</body>
   
</html> 
