@import "./variable";
@import "./mixin";

html {
    font-size: 75px;
    @include bgColor($clear-color)
}

@media screen and (max-width: 320px) {
    html {
        font-size: 64px;
    }
}

body {
    @include fontSize($font-medium-s);
    margin: 0;
}

#app {
    font-family: $font-sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include fontColor($font-color);
}

input, textarea, button {
    outline: none;
    font-family: $font-sans-serif;
    -webkit-appearance: none; /*兼容苹果手机*/
}

.svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-up {
    /* 默认 */
    transform: rotate(0deg);
}

.svg-right {
    transform: rotate(90deg);
}

.svg-down {
    transform: rotate(180deg);
}

.svg-left {
    transform: rotate(-90deg);
}

.container {
    margin-left: 15px;
    margin-right: 15px;
}

.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 15px 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    line-height: 1.5;
    flex-shrink: 0;
    user-select: none;
    outline: none;
}

.animated {
    transition-duration: 0.25s;
}

// fixed mint-ui
.picker-slot {
    @include fontSize($font-medium-s)
}

.text-green {
    color: #75c09f !important;
}

.text-red {
    color: #d15757 !important;
}

input {
    outline: none;

    &:focus {
        background: none;
    }
}

button {
    border: none;
}
